:root {
    --white: #fff;
    --black: #000;
    --text: #333;
    --primary: #fd9e78;
    --dark-primary: #fc713a;
}

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Teko', sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.8;
}

#main {
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-center {
    justify-content: center;
}

.align-item-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mt-32 {
    margin-top: 32px;
}

h1, h2, h3, h4 {
    line-height: 1.5;
    font-weight: 500;
}

.list-unstyled {
    list-style: none;
}

.pr-24 {
    padding-right: 2.4rem;
}

.ml-60 {
    margin-left: 60px;
}

#header.scrolled {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: -130px;
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#header.scrolled.awake {
    margin-top: 0;
    transition: all ease 0.3s;
}

#header.scrolled.sleep {
    margin-top: -130px;
    transition: all ease 1s;
}

.show {
    display: block !important;
}

.showModal {
    display: flex !important;
}

.primary {
    color: var(--primary) !important;
}

@keyframes slideToBottom {
    from {
        /* opacity: 0; */
        transform: translateY(-100%);
    }
    to {
        /* opacity: 1; */
        transform: translateY(0);
    }
}

.fadeInUp {
    animation: slideToTop 0.3s ease;
}

@keyframes slideToTop {
    from {
        opacity: 0;
        transform: translateY(260%);
    }
    to {
        opacity: 1;
        transform: translateY(20%);
    }
}